<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Students", "Index", "Students")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <!-- this needs to get either removed or redone, because it's ugly and not in the CSS file, but it's an example to show julien-->
    <div class="myLeftBar" style="top: 51px;
    position: fixed;
    left: 0;
    background-color: green;
    float: left;
    height: 100vh;
    z-index: 10000;
    padding: 5px;
    color: white;
    display: flex;
    padding: 15px;
    max-width: 200px;
    width: 100%;
    flex-direction: column;

">
        <ul style="">
            <li>Should @Html.ActionLink("Home", "Index", "Home")</li>
        </ul>
        <ul style="">
            <li>We Make @Html.ActionLink("Home", "Index", "Home")</li>
        </ul>
        <ul style="">
            <li>A border thing @Html.ActionLink("Home", "Index", "Home")</li>
        </ul>
        <ul style="">
            <li>with links @Html.ActionLink("Home", "Index", "Home")</li>
        </ul>
        <ul style="">
            <li>like this @Html.ActionLink("Home", "Index", "Home")</li>
        </ul>
        <ul style="">
            <li>For each user @Html.ActionLink("Home", "Index", "Home")</li>
        </ul>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
