@model MITT_Intern_2019_10_10.Models.Posting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Posting</h4>
    <hr />
    <div>
        <h1>
            @Html.DisplayFor(model => model.Title)
        </h1>

        <div style="margin: 20px 0px;">
            <a href="/Companies/CompanyProfile?id=@Model.Company.Id" style="justify-content:center;display:flex;flex-direction:row;max-width:200px">
                <img style="max-width:50px" src="~/uploads/@Model.Company.Id/profileImage/@Model.Company.ProfileImage" alt="avatar" />
                <div style="font-size:20px; margin-left:15px;font-size:25px;display:inline-block;margin: 0 15px">
                    @Html.DisplayFor(model => model.Company.CompanyName)
                </div>
            </a>
        </div>

        <div style="max-width:700px;margin:20px auto">
            @Html.DisplayFor(model => model.Content)
        </div>

        <div style="display:flex;flex-direction:row">
            <div style="margin-right:10px;color:gray">
                @Html.DisplayNameFor(model => model.PostingDate):
            </div>

            <div>
                @Html.DisplayFor(model => model.PostingDate)
            </div>
        </div>

        <div>
            <span>Prefered skills</span>
            <ul>
                @foreach (var x in Model.Skills)
                {
                    <li>@x.Name</li>
                }
            </ul>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
