@model MITT_Intern_2019_10_10.Models.CompanyViewModel

@{
    ViewBag.Title = "CompanyProfile";
}

<p style="margin-top:20px;margin-left:10px">
    @if (ViewBag.CurrentVisitingId == Model.Id)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <span>|</span>
    }
</p>

<dd class="text-center">
    <h1>
        @Html.DisplayFor(model => model.UserName)
    </h1>
</dd>

<div>
    <hr />
    @if (Model.ProfileImage != null)
    {
        <div class="center-block" style="display:flex; margin:0 auto 50px auto">
            <img class="center-cropped" style="width:250px;height:250px;margin:auto" src="~/uploads/@Model.Id/profileImage/@Model.ProfileImage" alt="avatar" />
        </div>
    }
    else
    {
        Random rand = new Random();
        string avatarLink = "";
        if (rand.Next(0, 2) == 0)
        {
            avatarLink = "avatar1.png";
        }
        else
        {
            avatarLink = "avatar2.png";
        }
        <div class="text-center" style="margin-bottom:50px;">
            <img class="center-cropped" style="width:250px;height:250px;" src="~/DefaultImages/@avatarLink" alt="@Model.UserName" />
        </div>
    }

    <div class="text-center" style="font-size: 16px;margin-bottom:20px">
        @Html.DisplayFor(model => model.Bio)
    </div>

    <div class="text-center" style="font-size:20px">
        <strong>
            @Html.DisplayFor(model => model.Email)
        </strong>
    </div>
</div>

<div style="margin-top:50px;padding:20px;border:1px solid gray;border-radius: 5px;background-color: #f8f8f8;">
    <div style="margin-bottom:10px;font-size:25px;display:flex;justify-content:space-between">
        <span>Posts:</span>
        <span>Create a new job post</span>
    </div>
    <table>
        @foreach (var post in Model.Posts)
        {
            <tr>
                <td>
                    <a class="noUnderlineHover" href="~/Postings/Details?id=@post.Id">
                        <div style="border:1px solid lightgrey;border-radius:5px;padding:20px;margin-bottom:15px;background-color: white;" class="pleaseFix">
                            <h4 class="title">@post.Title</h4>
                            <p style="color:black;">@post.Content</p>
                        </div>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>