@model MITT_Intern_2019_10_10.Models.Student

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Students", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ProfileImage, new { Value = Model.ProfileImage })

    @Html.HiddenFor(m => m.HeaderImage, new { Value = Model.HeaderImage })
    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HeaderImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HeaderImage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HeaderImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger" })
            </div>
        </div>

        <label for="file">Upload/Change Profile Image:</label>
        <input type="file" onchange="readURL(this, document.getElementById('profileImg'))" name="profileImage" id="file" style="width: 100%;" />
        @if(@Model.ProfileImage != null)
        {
            <div class="form-group">
                <span class="control-label col-md-2"><strong>Current Avatar</strong></span>
                <div class="col-md-10">
                    <img id="profileImg" style="border-radius: 50%;" height="150" src="~/uploads/@Model.Id/profileImage/@Model.ProfileImage" alt="avatar" />
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <span class="control-label col-md-2"><strong>Current Avatar</strong></span>
                <div class="col-md-10">
                    <img id="profileImg" style="border-radius: 50%;" height="150" src="~/DefaultImages/avatar1" alt="avatar" />
                </div>
            </div>
        }




        <label for="file">Upload/Change Header Image:</label>
        <input onchange="readURL(this, document.getElementById('headerImg'))" type="file" name="headerImage" id="file" style="width: 100%;" />

        @if (@Model.HeaderImage != null)
        {
            <div class="form-group">
                <span class="control-label col-md-2"><strong>Current Avatar</strong></span>
                <div class="col-md-10">
                    <img id="headerImg" style="border-radius: 50%;" height="150" src="~/uploads/@Model.Id/headerImage/@Model.HeaderImage" alt="avatar" />
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <span class="control-label col-md-2"><strong>Current Avatar</strong></span>
                <div class="col-md-10">
                    <img id="headerImg" style="border-radius: 50%;" height="150" src="https://macrovista.com/wp-content/uploads/2018/02/header-placeholder.png" alt="avatar" />
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

    //skills section
    <div>
        <h2>Skills Section</h2>
    </div>

    if(Model.Skills != null)
    {
        foreach (var skill in Model.Skills)
        {
            <div>
                <p>
                    <b>@skill.Name</b>
                </p>
            </div>

        }
    }
    else
    {
        <div>
            <p>
                <b>Add some skills</b>
            </p>
            <p>
                @Html.ActionLink("Add a skill", "AddSkills", new { studentId = Model.Id})
            </p>
        </div>
    }

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ImageUpdater")
}
