@model IEnumerable<MITT_Intern_2019_10_10.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProfileImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            @if (item.ProfileImage != null)
            {
                <td style="display:flex">
                    <img class="center-cropped" src="~/uploads/@item.Id/profileImage/@item.ProfileImage" alt="avatar" />
                </td>
            }
            else
            {
                Random rand = new Random();
                string avatarLink = "";
                if (rand.Next(0, 2) == 0)
                {
                    avatarLink = "avatar1.png";
                }
                else
                {
                    avatarLink = "avatar2.png";
                }
                <td>
                    <img class="center-cropped" src="~/DefaultImages/@avatarLink" alt="@item.UserName" />
                </td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
