@using Microsoft.AspNet.Identity
@model MITT_Intern_2019_10_10.Models.StudentViewModel
@{
    ViewBag.Title = "StudentProfile";
}

@if (Model.LastName  != null && Model.FirstName != null )
{
<h2>@Model.FirstName @Model.LastName</h2>
}
else
{
    <h2>@Model.UserName</h2>
}
<div id="MainContainer" class="mainContainer">
    <!--Top section will have both images, layered with profile picture on top-->
    <div id="topSection" class="topSection">

        <!--all the different ways the pictures can load that i couldn't figure out a nice way to do-->
        @if (Model.HeaderImage != null && Model.ProfileImage != null)
        {<div class="imageSection" style="background-image: url('../../uploads/@Model.Id/headerImage/@Model.HeaderImage')"><img id="profileImg" class="profileImg" style="" src="~/uploads/@Model.Id/profileImage/@Model.ProfileImage" alt="avatar" /></div>}
        else if (Model.HeaderImage != null && Model.ProfileImage == null)
        {<div class="imageSection" style="background-image: url('../../uploads/@Model.Id/headerImage/@Model.HeaderImage')"><img id="profileImg" class="profileImg" style="" src="~/DefaultImages/avatar1.png" alt="avatar" /></div>}
        else if (Model.HeaderImage == null && Model.ProfileImage != null)
        {<div class="imageSection" style="background-image: url('https://macrovista.com/wp-content/uploads/2018/02/header-placeholder.png')"><img id="profileImg" class="profileImg" style="" src="~/uploads/@Model.Id/profileImage/@Model.ProfileImage" alt="avatar" /></div>}
        else
        {<div class="imageSection" style="background-image: url('https://macrovista.com/wp-content/uploads/2018/02/header-placeholder.png')"><img id="profileImg" class="profileImg" style="" src="~/DefaultImages/avatar1.png" alt="avatar" /></div>}


    </div>
    <div id="bottomSection" style="display:flex; flex-direction: row">
        <div id="bottomLeftSection" class="bottomLeftSection">
            <div class="bioSection" id="bioSection">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="col">@Html.LabelFor(model => model.FirstName)</th>
                            <td>
                                @Model.FirstName
                            </td>
                        <tr>
                            <th scope="col">@Html.LabelFor(model => model.LastName)</th>
                            <td>
                                @Model.LastName
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">@Html.LabelFor(model => model.UserName)</th>
                            <td>
                                @Model.UserName
                            </td>
                        </tr>
                        @if (@Model.SchoolProgram != null)
                        {
                            <tr>
                                <th scope="col">@Html.LabelFor(model => model.SchoolProgram.Title)</th>
                                <td>
                                    @Model.SchoolProgram.Title
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
        <div id="bottomRightSection" class="bottomRightSection">
            <div><h3>Skills:</h3></div>
            <ul>
                @foreach (var skill in Model.Skills)
                {
                    <li>@skill.Name</li>
                }
            </ul>
            @if(User.Identity.GetUserId() == Model.Id)
            {
                <div style="display:flex; justify-content:space-between; width: 300px; flex-direction: row;">
                    @Html.ActionLink("Add skills", "AddSkills", new { studentId = Model.Id })
                    @Html.ActionLink("Remove skills", "RemoveSkills", new { studentId = Model.Id })
                </div>
            }
        </div>
    </div>
    <div>
    </div>
</div>

@section Scripts{
    @Styles.Render("~/bundles/StudentProfileStyles")
}