@model MITT_Intern_2019_10_10.Models.StudentViewModel

@{
    ViewBag.Title = "StudentProfile";
}

<h2>StudentProfile</h2>

@Html.NameFor(model => model.Bio)

<div>
    @Html.LabelFor(model => model.Bio)

</div>

@Html.NameFor(model => model.FirstName)
@Html.LabelFor(model => model.FirstName)
@Html.DisplayFor(model => model.FirstName)

@Html.NameFor(model => model.LastName)
@Html.LabelFor(model => model.LastName)
@Html.DisplayFor(model => model.LastName)